@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.purp{
    background: url(./img/pink.png);

     background: url(./img/darkpurps.png);
     -webkit-font-smoothing: antialiased;
 }

 