/*body { 
	background: #3C397D; 
	color: #FF7980; 
} 

::-moz-selection { 
	background-color: #FF7980; 
	color: #3C397D; 
} 

::selection { 
	background-color: #FF7980; 
	color: #3C397D; 
} 

.highlight, pre, code, input[type="email"][disabled] { 
	background: #FF7980; 
	color: #3C397D; 
} 
.bg { 
	color: #3C397D; 
} 
.fg { 
	color: #FF7980; 
} 
.background--bg { 
	background: #3C397D; 
} 
.background--fg, hr { 
	background: #FF7980; 
} 
.border--bg { 
	border-color: #3C397D; 
} 
.border--fg { 
	border-color: #FF7980; 
} 
path, polygon { 
	fill: #FF7980; 
} 
p a, .post__content a, .title a:not(.permalink), .underline { 
	background-image: linear-gradient(to bottom, transparent 50%, #FF7980 50%); 
}*/